accelerate
cairosvg
cryptography
diffusers
controlnet-aux
google-genai
hydra-core
iopath
numpy
omegaconf
opencv-python-headless
pillow
pyyaml
safetensors
scikit-image
svgwrite
supabase
torch
torchvision
transformers
ultralytics
